*{
    margin: 0;
    padding: 0;
}

.header 
{
    display: flex;
    height: 44px;
    background-color:#ffff;
    margin: 0 auto;
    justify-content: space-between;
    padding: 8px 20px;
    position: sticky;
    top: 0;
}

.main_page{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main_page_a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.main_page_a:hover{
    opacity: 0.5;
}

.profile{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.container
{
    background-color:lightslategray;
    padding: 10px;
    min-height: calc(100vh - 44px);
}



.ram1
{
    background-color: #ffff;
    padding: 20px 0px 20px 10px;
    display: grid;
    width: 100%;
}

.robo
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.ram1 p
{
    font-family: 'Montserrat';
    font-style: normal;
}